<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config1.xml</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ingresoAgencia</servlet-name>
        <servlet-class>controladores.ingresoAgencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serEditarAgencia</servlet-name>
        <servlet-class>controladores.serEditarAgencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serEliminAgencia</servlet-name>
        <servlet-class>controladores.serEliminAgencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serIngresoEmpleado</servlet-name>
        <servlet-class>controladores.serIngresoEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serEditarEmpleado</servlet-name>
        <servlet-class>controladores.serEditarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serEliminarEmpleado</servlet-name>
        <servlet-class>controladores.serEliminarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serIngresoPaquete</servlet-name>
        <servlet-class>controladores.serIngresoPaquete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serEditarPaquete</servlet-name>
        <servlet-class>controladores.serEditarPaquete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serEliminarPaquete</servlet-name>
        <servlet-class>controladores.serEliminarPaquete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serCrearSolicitud</servlet-name>
        <servlet-class>controladores.serCrearSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serEditarSolicitud</servlet-name>
        <servlet-class>controladores.serEditarSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serEditarSolicitudes</servlet-name>
        <servlet-class>controladores.serEditarSolicitudes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serEliminarSolicitud</servlet-name>
        <servlet-class>controladores.serEliminarSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serAsignar</servlet-name>
        <servlet-class>controladores.serAsignar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verAsignados</servlet-name>
        <servlet-class>controladores.verAsignados</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingresoAgencia</servlet-name>
        <url-pattern>/ingresoAgencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serEditarAgencia</servlet-name>
        <url-pattern>/serEditarAgencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serEliminAgencia</servlet-name>
        <url-pattern>/serEliminAgencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serIngresoEmpleado</servlet-name>
        <url-pattern>/serIngresoEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serEditarEmpleado</servlet-name>
        <url-pattern>/serEditarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serEliminarEmpleado</servlet-name>
        <url-pattern>/serEliminarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serIngresoPaquete</servlet-name>
        <url-pattern>/serIngresoPaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serEditarPaquete</servlet-name>
        <url-pattern>/serEditarPaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serEliminarPaquete</servlet-name>
        <url-pattern>/serEliminarPaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serCrearSolicitud</servlet-name>
        <url-pattern>/serCrearSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serEditarSolicitud</servlet-name>
        <url-pattern>/serEditarSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serEditarSolicitudes</servlet-name>
        <url-pattern>/serEditarSolicitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serEliminarSolicitud</servlet-name>
        <url-pattern>/serEliminarSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serAsignar</servlet-name>
        <url-pattern>/serAsignar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verAsignados</servlet-name>
        <url-pattern>/verAsignados</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/paginaInicial.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
